bluesky  # for gallery example
doctr
ipython
lmfit  # for gallery example
matplotlib
numpy  # for gallery example
numpydoc
path.py
pillow  # required by sphinx-gallery
sphinx
sphinx-gallery
sphinx_rtd_theme
sphinxcontrib-napoleon
